<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ1qsRfFMvPsqv6z7RMjhD9DYPoM1ASRI</string>
	<key>GCM_SENDER_ID</key>
	<string>558287911723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quirkApp</string>
	<key>PROJECT_ID</key>
	<string>quirk-408521</string>
	<key>STORAGE_BUCKET</key>
	<string>quirk-408521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558287911723:ios:dfa9139f58cadbbfdc636e</string>
</dict>
</plist>